.rowsb{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}
.rowse{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.rowseven {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}
.rowsa{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;

}
.row{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.navitem{
    color: black;
}
.sec6container {}

.col{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sectionhead{
    color: black;
    font-size: 20px;
    margin-top: 30px;
}
.sech{
}
.showall{
    color: rgba(233, 95, 98, 1);
    font-size: 15px;
}
.p20 {
    padding: 0px 20px;
}

.mt20 {
    margin-top: 20px;
}
/*  */


@media (max-width:1343px) {
    .rowse {
        justify-content: flex-start;
    }
}