*{
    margin: 0;padding: 0;
}

:root{
    --pagebackground:rgba(160, 160, 160, 0.299);
    --primarycolor:white;
}
body{
 font-family: Arial, Helvetica, sans-serif;   
 background-color: var(--pagebackground);
 width: 100%;
 overflow-X: hidden;
}

/* navbar */
nav{
    margin-top: 30px;
    background-color: var(--primarycolor);
    
    width: 100%;
}
a{
    text-decoration: none;
}
.logotext{
    color: rgba(233, 95, 98,1);
    text-decoration: none;
    font-size: 20px;
}
.logowrap img{
width: 40px;
}
.navitemwrap{
    width: 70%;
}
.profile h1{
text-align: end;
font-size: 15px;
}
.name{
    color: black;
}
.username{
    font-size: 10px;
    color: rgba(128, 128, 128, 0.507);
}


@media (max-width:800px) {
    .navitem{
        display: none;
    }
    .navitemwrap{
        width: max-content;
    }
    .rowse{
        justify-content: space-between;
    }
    .menu, .profile{
        margin-left: 5px;
    }
}

@media (max-width:340px) {
    .profile{
        display: none;
    }
}